.row {
  opacity: 1;
  cursor: pointer;
}
.rowsContainer:hover .row {
  opacity: 0.3;
}
.rowsContainer .row:hover {
  opacity: 1;
}

.highlightRect {
  opacity: 0;
}
.rowsContainer .row:hover .highlightRect {
  opacity: 0.2;
}
